* {
    box-sizing: border-box;
    margin: 0px;
  }
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.col-14 {width: 41,66%;}
.col-27 {width: 41,66%;}

.col-17 {width: 91.66%;}
.col-19 {width: 91.66%;}
.col-26 {width: 91.66%;}
.col-28 {width: 91.66%;}
.algoritmer {width: 91.66%;}
.database {width: 91.66%;}

.col-13 {width: 100%;}
.col-16 {width: 100%;}
.col-18 {width: 100%;}
.col-21 {width: 100%;}
.col-22 {width: 100%;}
.col-23 {width: 100%;}
.col-24 {width: 100%;}
.col-25 {width: 100%;}

.main {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: repeat (5, 1fr);
}



/*for alle grids*/
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgb(108, 194, 155);
    border-radius: 8px;
  }

  .col-13 {
    border-radius: 0%;
    background-color:rgb(79, 150, 135); 
    display: flex ; /*plasserer menyen til høyre*/
    justify-content: space-between;  
    align-items: center;
    grid-column: 1/6;
  }

  .footer {
    grid-column: 1/6;
    text-align: center;
    background-color:rgb(112, 183, 170);
    margin-top: 50px;
    padding: 20px;
  }

  ul.dw {
    display: inline-block;
    list-style-type: square;
    padding-top: 15px;
  }

  a {
    text-decoration-line:0;
    color: black;
  }

  .tegning {
    float: left;
  }

  .tegning1 {
    float: right;
  }



  /*til topp btn*/
  #toppBtn {
    display: none;
    position: fixed; /* Fixed sticky position */
    bottom: 30px; 
    right: 30px; 
    border: none;
    background-color: rgb(61, 80, 74); 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 70%;
  }
  
  #toppBtn:hover {
    background-color: rgb(53, 71, 66);
  }


/*button stiler*/
.button{
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  border:2px solid#67a991;
  margin-right: 10px;
  background-color: aliceblue;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Times New Roman', serif;
}

.button:hover {
  background-color: rgb(199, 224, 215);
  transition: 0.3s; 
}

.button1{
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  border:2px solid#67a991;
  font-size: 17px;
  margin-right: 10px;
  background-color: aliceblue;
  text-decoration: none;
}

.button1:hover {
  background-color: rgb(199, 224, 215);
  transition: 0.3s; 
}
  





/*Mine prosjekter dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(166, 182, 178);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 7px;
}
/*linkene inni*/
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  border-radius: 7px;
  text-decoration: none;
}

.dropdown-content a:hover {background-color: aliceblue;}
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*menu dropdown*/
.thick {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}
.menu .dropdown-content {
  right: 0;
}






/*Hjem*/
.col-19 {
  background-color: rgb(209, 227, 218);
  margin: 5% 0% 5% 0%;
  text-align: center;
  grid-column: 5/5;
}
.col-21 {
  text-align: center;
  text-shadow:#727e7a 3px 2px;
  padding: 50px;
  font-size: 15px;
  word-break: break-word;
  border-radius: 0%;
  grid-column: 1/6;
  background-image: url(../Images/Skjermbilde\ \(20\).png);
  background-size:cover;
}




/*Alle utenom Hjem*/
.col-14 {
  margin-left: 20%;
  margin-top: 35px;
  padding-top: 20px;
  grid-column: 1/6;
  border: none;
  font-size: 20px;
  padding-bottom: 3px;
}
.col-11 {
  margin-left: 50px;
  border: 3px solid rgb(118, 150, 136);
  background-color: #bfd3cc;
  max-width: 100%;
}
.responsive {
  height: auto;
  border-radius: 8px;
  max-width: 100%;
  text-align: center;
  padding: 5px;
}


/*Om meg*/
.col-16 {
  text-align: center;
  text-shadow:#727e7a 2px 3px;
  padding: 50px;
  font-size: 15px;
  word-break: break-word;
  border-radius: 0%;
  background-image: url(../Images/Skjermbilde\ \(26\).png);
  background-size:cover;
  grid-column: 1/6;
}
.col-17 {
  grid-column: 4/6;
  background-color: rgb(209, 227, 218);
  margin-top: 50px;
}
.col-18 {
  background-color: #9fb6ae;
}
.col-25 {
  background-color: #9fb6ae;
  text-align: center;
}



/*teknologiforståelse*/
.col-12{
  text-align: left;
  text-shadow:#727e7a 5px 5px;
  margin-top: 0px;
  padding: 50px;
  font-size: 15px;
  word-break: break-word;
  border-radius: 0%;
  background-image: url(../Images/Skjermbilde\ \(21\).png);
  background-size: cover;
  grid-column: 1/6;
}



/*produksjon og historiefortelling*/
.col-24 {
  text-align: left;
  text-shadow:#727e7a 3px 2px;
  margin-top: 0px;
  padding: 50px;
  font-size: 15px;
  word-break: break-word;
  border-radius: 0%;
  background-image: url(../Images/Skjermbilde\ \(25\).png); 
  background-size: cover;
  grid-column: 1/6;
}
.col-26 {
  margin-left: 30px;
  border: 3px solid rgb(118, 150, 136);
  background-color: #bfd3cc;
  max-width: 100%;
}
.col-27 {
  margin-top: 35px;
  margin-left: 100px;
  padding-top: 20px;
  grid-column: 1/6;
  border: none;
  font-size: 20px;
  padding-bottom: 3px;
}
.nissemann {
  width: 100%; 
  height: 550px;
  border-radius: 8px;
  border: 8px solid rgb(118, 150, 136);
}





/*Konseptutvikling og Programmering*/
.col-5 {
  display: contents ;
}
.col-23 {
  text-align: left;
  text-shadow:#727e7a 5px 5px;
  margin-top: 0px;
  padding: 50px;
  font-size: 15px;
  word-break: break-word;
  border-radius: 0%;
  background-image: url(../Images/Skjermbilde\ \(22\).png);
  background-size: cover;
  grid-column: 1/6;
}
.col-28 {
  border: 3px solid rgb(118, 150, 136);
  background-color: #bfd3cc;
  margin: 5px 0px 0px 20%;
}
.database {
  background-color: #bfd3cc;
  max-width: 100%;
  margin:auto;
  text-align: center;
}




.algoritmer {
  border: 3px solid rgb(118, 150, 136);
  background-color: #bfd3cc;
  margin: 5px 0px 0px 20%;
  border-radius: 8px;
}

.gruppe {
  display: flex;
}
.snitt {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 8px;
  background-color: rgb(245, 250, 248);
  font-size: 15px;
  font-weight: bold;
  margin: 5%;
}
.lekser {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
  border-radius: 8px;
  background-color: rgb(245, 250, 248);
  font-size: 17px;
  margin: 5%;
}
.lekserButton {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid rgb(118, 150, 136);
  background-color: rgb(217, 225, 222);
  font-size: 17px;
  font-family: 'Times New Roman', serif;
  margin: 8% 20% 5% 20%;
}
.lekserButton:hover {
  background-color: rgb(180, 192, 186);
  transition: 0.6s; 
}
.svar {
  margin: 0% 5% 3% 5%;
  font-size: medium;
}



.skriv {
  display: grid;
  margin: 0% 5% 5% 5%;
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(245, 250, 248);
}
textarea {
  resize: none;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid rgb(118, 150, 136);
  background-color: rgb(220, 227, 224);
  font-size: 15px;
  font-family: 'Times New Roman', serif;
}

.knapp {
  width: 50%;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid rgb(118, 150, 136);
  background-color: rgb(217, 225, 222);
  font-size: 17px;
  font-family: 'Times New Roman', serif;
  margin: 1% 0.5% 0% 0%;
}
.knapp:hover {
  background-color: rgb(180, 192, 186);
  transition: 0.3s; 
}

.knapp2 {
  width: 50%;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid rgb(118, 150, 136);
  background-color: rgb(217, 225, 222);
  font-size: 17px;
  font-family: 'Times New Roman', serif;
  margin: 1% 0% 0% 0.5%;
}
.knapp2:hover {
  background-color: rgb(180, 192, 186);
  transition: 0.3s; 
}

.gruppe2 {
  display: flex;
}










  /*desktop*/
  @media  screen and (min-width:600px) {
    
    /*global*/
    .menu {
      display: none;
    }
    .footer {
      font-size: large;
      padding-top: 40px;
    }
    div.col-14 {
      font-size: 30px;
      margin-top: 40px;
      border: none;
    }
    div.col-27 {
      font-size: 30px;
      margin-top: 40px;
      border: none;
    }

    /*teknologiforståelse*/
    div.col-12 {
      font-size: 25px;
      padding: 90px;
    }

    /*konseptutvikling og programmering*/
    div.col-23 {
      font-size: 25px;
      padding: 90px;
    }
    .snitt {
      font-size: 20px;
    }
    .lekserButton {
      font-size: 20px;
    }
    .svar {
      font-size: 18px;
    }
    textarea {
      font-size: 18px;
    }
    .knapp {
      font-weight: bold;
      font-size: 18px;
    }
    .knapp2 {
      font-weight: bold;
      font-size: 18px;
    }






    /*produksjon og historiefortelling*/
    div.col-24 {
      font-size: 25px;
      padding: 90px;
    }

    /*om meg*/
    .col-16 {
      font-size: 25px;
      padding: 100px;
    }
    .col-18 {
      padding: 30px;
      padding-bottom: 15px;
    }
    .col-25 {
      padding: 30px;
      margin-right: 15px;
    }

    /*hjem*/
    .col-21 {
      font-size: 25px;
      padding: 130px;
    }
    .p1 {
      padding: 0px 100px 0px 100px;
    }
  }
  

  /*telfon ja*/
  @media  screen and (max-width: 600px) {
    
    /*global*/
    .button {
      display: none;
    }
    .button1 {
      padding: 7px;
    }
    .footer {
      font-size: small;
    }
    .col-27 {
      margin-left: 30px;
    }
    #toppBtn {
      bottom: 15px; 
      right: 10px; 
      border: none;
      background-color: rgb(61, 80, 74); 
      color: white; 
      cursor: pointer; 
      padding: 8px;
      border-radius: 10px; 
      font-size: 14px;
      font-family: 'Times New Roman', Times, serif;
      opacity: 95%;
    }

    /*om meg*/
    .col-18 {
      margin-top: 10px;
    }
    .col-25 {
      margin-top: 10px;
      font-size: 10px;
    }

    /*Hjem*/
    .col-19 {
      font-size: 15px;
    }

    /*PH*/
    .nissemann {
      height: 225px;
    }

    /*KP*/
    .col-28 {
      margin-left: 10%;
    }
    .algoritmer {
      margin-left: 10%;
    }
    .gruppe {
      display: grid;
    }
    .snitt {
      width: auto;
      padding: 10px;
      margin: 5% 5% 0% 5%;
      padding:20px;
    }
    .lekser {
      width: auto;
    }
  }


  /*om meg*/
  @media screen and (min-width:700px) {
    .content1 {
      display: flex;
      font-size:large;
    }
    .content2 {
      display: flex;
      font-size:large;
    }
    .col-18 {
      margin-left: 15px;
    }
    .col-25 {
      padding: 80px;
    }
  }
  
  /*om meg tekst + nissemann*/
  @media screen and (max-width: 880px){
    .col-25 {
      font-size: 13px;
      padding: 50px;
    }
    /*PH*/
    .nissemann {
      height: 350px;
    }
  }
  @media screen and (min-width: 880px) {
    .col-18 {
      font-size: 20px;
      padding: 55px;
    }
  }

  /*hjem*/
  @media screen and (min-width:900px) {
    .p1 {
      padding: 0px 250px 0px 250px;
    }
  }

    /*footer tegningene*/
    @media  screen and (max-width: 1000px) {
      .tegning {
        display: none;
      }
      .tegning1 {
        display: none;
      }
    }

    /*fotohistorie bildene*/
    @media  screen and (min-width: 700px) {
      .foto {
        width: 50%;
        display: flex;
      }
    }

    ::selection {
      background-color: rgb(247, 241, 241);
      color: black;
    }
